/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */


 h1 {
  font-family: 'Roboto-Light' !important;
  color: #666
 }

 h2 {
  font-family: 'Roboto-Medium' !important;
  color: #666
 }

@font-face {
  font-family: 'Roboto-Light';
  src: url('/fonts/Roboto-Thin.ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('/fonts/Roboto-Medium.ttf');
}

html {
  color: #666
}

a {
  text-decoration: none;
}

.alert {
  background-color: red !important;
}


.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
